name: MLOps pipeline

on:
  push:
    branches:
      - main  # Automatically triggers on push to the main branch

jobs:
  register-dataset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt

      - name: Debug HF token
        run: |
          if [ -z "$TPACKAGE_TOKEN" ]; then
            echo "TPACKAGE_TOKEN is EMPTY"
          else
            echo "TPACKAGE_TOKEN is SET"
          fi
        env:
          TPACKAGE_TOKEN: ${{ secrets.TPACKAGE_TOKEN }}  

      - name: Upload Dataset to Hugging Face Hub
        env:
          TPACKAGE_TOKEN: ${{ secrets.TPACKAGE_TOKEN }}
        run: python tourism_project/model_building/data_register.py

  data-prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt

      - name: Run Data Preparation
        env:
          TPACKAGE_TOKEN: ${{ secrets.TPACKAGE_TOKEN }}
        run: python tourism_project/model_building/prep.py

  model-traning:
    needs: data-prep
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt

      - name: Start MLflow Server
        run: |
          nohup mlflow ui --host 0.0.0.0 --port 5000 &
          sleep 5

      - name: Model Building
        env:
          TPACKAGE_TOKEN: ${{ secrets.TPACKAGE_TOKEN }}
        run: python tourism_project/model_building/train.py

  deploy-hosting:
    runs-on: ubuntu-latest
    needs: [model-traning, data-prep, register-dataset]
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: pip install -r tourism_project/deployment/requirements.txt

      - name: Push files to Frontend Hugging Face Space
        env:
          TPACKAGE_TOKEN: ${{ secrets.TPACKAGE_TOKEN }}
        run: python tourism_project/hosting/hosting.py
